/*vakansii*/

.item-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}
.cards-list {
    font-size: 14px;
    margin-top: 20px;
}
.cards-list ul{padding:8px 8px 8px 16px;list-style:disc;}
.cards-list li{margin-bottom:10px; font-size:16px !important;list-style:disc;}
.item-card__title {
  display: -webkit-box;            /* Включаем flex-контейнер в виде вебкит-бокса */
  -webkit-box-orient: vertical;    /* Ориентация бокса — вертикальная */
  -webkit-line-clamp: 2;           /* Максимум 2 строки */
  overflow: hidden;                /* Скрываем переполнение */
  text-overflow: ellipsis;         /* Добавляем троеточие в конце обрезанной строки */
}

.cards-list {
    margin-top: 16px;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.cards-list li {
  -webkit-box-orient: vertical;    /* Ориентация бокса — вертикальная */
  -webkit-line-clamp: 1;           /* Максимум 2 строки */
  text-overflow: ellipsis;         /* Добавляем троеточие в конце обрезанной строки */
}

.cards-list li:nth-child(n+5) {
  display: none;
}
.vakansiya-cards{
    position:relative;background:#F5F5F8;border-radius:var(--real-border-radius);
}

.item-card__zoom {
    transition: all 0.2s ease-in-out;
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-card__header {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 100%;
    padding: 0 !important;
}

.item-card__title {
    transition: all 0.2s ease-in-out;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    padding: 10px 10px 3px 10px;
    color: #000000;
}

.item-card__body {
    padding: 0 10px 10px 10px;
}

.item-card:hover .item-card__zoom {
    transform: scale(1.1);
}

.item-card:hover .item-card__title {
    color: var(--color-red);
}
.custom-badge{
    position:absolute;font-size:14px; left:0; top:0; border-radius: var(--real-border-radius) 0 var(--real-border-radius) 0; background:var(--color-blue-dark);padding: 10px 20px 10px 20px; color: #fff; font-weight: bold
}